body {
    font-family: "Times New Roman", Times, serif;
  }
  
  .invisible {
    display: none;
  }
  
  #inputRange span {
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
  }
  
  #gameResult p {
    font-weight: bold;
  }
  