body {
font-family: sans-serif;
background-color: black;
color: white;
}
.background1 {
background-color: #3498db;
}

.background2 {
background-color: #9b59b6;
}

.background3 {
background-color: #f39c12;
}
